* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(50px);
  padding: 20px;
}

.width100 {
  width: 100%;
}

.menu {
  
}
.status-bar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  box-shadow: -3px 2px 8px rgba(214, 214, 214, 0.414);
  z-index: 2000000;
}

.status-word {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
}

.back-btn {
  width: 13px;
  position: absolute;
  top: 15px;
  left: 20px;
}

.user-icon {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.menu {
  
}

.menu-btn {
  position: fixed;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
  z-index: 3000000;
}

.menu-box {
  width: 80%;
  height: 100vh;
  background-color: rgb(239, 239, 239);
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 20px;
  left: 0;
  z-index: 1000000000;
}

.menu-active {
  transform: translateX(0px);
  transition: all 0.5s 0s ease;
}
.menu-hide {
  transform: translateX(-200%);
  transition: all 0.5s 0s ease;
}
.menu-user-box {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(154, 211, 68);
  padding: 5px 10px;
  border-radius: 5px;
  
}

.menu-user-icon {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin-right: 5px;
}

.menu-list {
  display: flex;
  flex-direction: column;
}

.menu-item {
}

.btn {
  width: 100%;
  padding: 5px 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 20px;
}

.blue-btn {
  color: white;
  background-color: rgb(3, 103, 217);
}

.green-btn {
  color: white;
  background-color: rgb(3, 217, 146);
}

.red-btn {
  color: white;
  background-color: rgb(225, 47, 47);
}

.home-item-list {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home-item {
  width: 240px;
  margin-bottom: 20px;
}

.items-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.items-item {
  width: 100%;
  height: 130px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}
.item-index-image {
  width: 100%;
  transform: translateY(-90px);
}

.item-image {
  width: 100%;
}

.item-index-words-box {
  position: absolute;
  top: 14px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.item-index-words1 {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 5px black;
  
}
.item-index-words2 {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.get-day {
  font-size: 45px;
  margin: 10px;
}

.sites-list {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0px;
}

.sites-item {
  position: relative;
}

.site-item-image {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.site-item-delete {
  width: 30px;
  position: absolute;
  top: 0;
  right: 10px;
}
.costs-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.costs-item {
  width: 48%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px #222222;
}

.costs-item-name {
  background-color: #222222;
  text-align: center;
  padding: 3px 0px;
  color: white;
  font-weight: bold;
  letter-spacing: 4px;
}

.costs-item-img {
  height: 100px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.costs-item-img img {
  margin: 0 auto;
}

.costs-item-price {
  background-color: #222222;
  text-align: center;
  padding: 5px 0px;
  color: white;
  font-weight: bold;
  letter-spacing: 4px;
}

