* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.menu {
  padding: 30px;
}
.status-bar {
  background-color: rgb(244, 244, 244);
  padding: 30px;
}

.container {
  padding: 30px;
}
.user-icon {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.menu {
  
}

.menu-btn {
  position: fixed;
  left: 30px;
  bottom: 30px;
  cursor: pointer;
}

.menu-box {
  width: 180px;
  background-color: rgb(231, 231, 231);
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 100px;
  padding: 20px;
}

.menu-active {
  transform: translateX(30px);
  transition: all 0.5s 0s ease;
}
.menu-hide {
  transform: translateX(-220px);
  transition: all 0.5s 0s ease;
}
.menu-user-box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(154, 211, 68);
  padding: 5px 10px;
  border-radius: 5px;
}

.menu-user-icon {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin-right: 5px;
}

.menu-list {
  display: flex;
  flex-direction: column;
}

.menu-item {
}

.btn {
  padding: 5px 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.blue-btn {
  color: white;
  background-color: rgb(3, 103, 217);
}

.green-btn {
  color: white;
  background-color: rgb(3, 217, 146);
}

.red-btn {
  color: white;
  background-color: rgb(225, 47, 47);
}