* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

p {
  padding: 0;
  margin: 0;
}

span {
  padding: 0;
  margin: 0;
}

h3 {
  width: 100%;

}

.form-block {
  width: 100%;
  margin-bottom: 10px;
}

label {
  width: 100%;
  font-weight: bold;
}

.essencial::after {
  content: "【必須】";
  color: red;


}

button {
  border: none;
}

.input-label {
  width: 100%;
  text-align: left;
}

input {
  width: 100%;
  max-width: 100%;
  border: 1px solid #222222;
  margin: 0.3rem 0;
  padding: 0.7rem 0.7rem;
  border-radius: 0.3rem;
  background: darken(#f9f9f9, 10%);
  color: darken(#f9f9f9, 50%);
  font-size: 17px;
}

.select-input {
  width: 100%;
  max-width: 100%;
  border: 1px solid #222222;
  margin: 0.3rem 0;
  border-radius: 0.3rem;
  background: darken(#000000, 10%);
  color: darken(#000000, 50%);
  font-size: 17px;
}

.btn_menu {
	position: fixed;
  bottom: 4vw;
  right: 4vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 13vw;
	height: 13vw;
	box-sizing: border-box;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 3px #2222227d ;
  border-radius: 100%;
	transition: background-color 0.3s ease;
  z-index: 100000000000000;
}
.btn_menu::before {
	position: absolute;
	top: 38%;
	left: 25%;
	display: block;
	content: "";
	width: 50%;
	height: 2px;
	background: #000000;
	transform: rotate(0deg);
	transition: transform 0.3s ease, top 0.1s ease;
}
.btn_menu::after {
	position: absolute;
	bottom: 38%;
	left: 25%;
	display: block;
	content: "";
	width: 50%;
	height: 2px;
	background: #000000;
	transform: rotate(0deg);
	transition: transform 0.3s ease, bottom 0.1s ease, width 0.3s ease;
}

.btn_menu_active {
	position: fixed;
  bottom: 4vw;
  right: 4vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 13vw;
	height: 13vw;
	box-sizing: border-box;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 3px #2222227d ;
  border-radius: 100%;
	transition: background-color 0.3s ease;
  z-index: 100000000000000;
}
.btn_menu_active::before {
  position: absolute;
	left: 25%;
	display: block;
	content: "";
	width: 50%;
	height: 2px;
	background: #000000;
	top: calc(50% - 1px);
	transform: rotate(135deg);
  transition: transform 0.3s ease, bottom 0.1s ease, width 0.3s ease;
  z-index: 100000000000000;
}
.btn_menu_active::after {
	position: absolute;
	top: calc(50% - 1px);
	left: 25%;
	display: block;
	content: "";
	width: 50%;
	height: 2px;
	background: #000000;
	bottom: calc(50% - 1px);
	transform: rotate(-135deg);
  transition: transform 0.3s ease, bottom 0.1s ease, width 0.3s ease;
  z-index: 100000000000000;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  transform: translateY(70px);
  padding: 0px 15px;
  margin-top: 20px;
  margin-bottom: 150px;
}

.shadow-container {
  width: 100vw;
  height: 100vh;
  background-color: #222222;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  z-index: -10000;
  transition: all 0.5s 0s ease;
}

.shadow-container-active {
  width: 100vw;
  height: 100vh;
  background-color: #222222;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0.5;
  z-index: 10000;
  transition: all 0.5s 0s ease;
}

.width100 {
  width: 100%;
}

.menu {
}
.status-bar {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  box-shadow: -3px 2px 8px rgba(214, 214, 214, 0.414);
  z-index: 1000;
  padding: 0px 20px;
}

.status-word {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
}

.back-btn {
  width: 13px;
  position: absolute;
  top: 24px;
  left: 20px;
  cursor: pointer;
}

.back-btn img {
  width: 100%;
  
}

.user-icon {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  text-align: center;
  overflow: hidden;
}

.user-icon img {
  min-width: 100%;
  max-width: 200%;
  height: 100%;
  transform: translateX(-15px);
  margin: 0 auto;
}

.menu {
}

.menu-btn {
  position: fixed;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
  z-index: 3000000;
}

.menu-box {
  width: 80%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 20px;
  top: 0;
  left: 0;
  z-index: 1000000000;
}
.menu-box-after {
  content: '';
  width: 20%;
  height: 100%;
  position: fixed;
  top: 0;
  right: -20%;
}

.menu-active {
  transform: translateX(0px);
  transition: transform 0.3s ease, bottom 0.1s ease, width 0.3s ease;
}
.menu-hide {
  transform: translateX(-200%);
  transition: transform 0.3s ease, bottom 0.1s ease, width 0.3s ease;
}
.menu-user-box {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px 0px;
  border-radius: 5px;
  position: relative;
}

.menu-user-icon {
  width: 12vw;
  height: 12vw;
  border-radius: 100%;
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.menu-user-icon img {
  width: 100%;
  overflow-x: hidden;
}

.menu-user-text {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.menu-user-text p {
  font-size: 3vw;
  color: #222222;
  letter-spacing: 0.5px;
}

.menu-user-dot {
  font-size: 4vw;
  color: #222222;
  position: absolute;
  right: 6vw;
}

.menu-list {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  
}

.menu-item {
  display: flex;
  align-items: center;
  color: #222222;
  font-size: 4vw;
  font-weight: bold;
  padding: 20px 0px;
  position: relative;
}

.menu-bottom-left {
  position: absolute;
  bottom: 0;
  left: 6vw;
}
.menu-bottom-right {
  position: absolute;
  bottom: 0;
  right: 6vw;
}

.menu-icon {
  width: 6vw;
  font-size: 6vw;
  margin-right: 3vw;
}

.menu-bottom-icon {
  font-size: 7vw;
}

.menu-icon-chevron {
  font-size: 4vw;
  margin-right: 6vw;
  position: absolute;
  right: 0;
}

.btn {
  width: 100%;
  height: 50px;
  padding: 5px 20px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 4vw;
  font-weight: 600;
  letter-spacing: 2px;
}

.awesome-icon {
  margin-right: 10px;
}

.blue-btn {
  color: white;
  background-color: rgb(3, 103, 217);
}

.green-btn {
  color: white;
  background-color: rgb(84, 221, 63);
}

.cyan-btn {
  color: white;
  background-color: rgb(105, 214, 220)
}

.red-btn {
  color: white;
  background-color: rgb(221, 63, 63);
}

.gray-btn {
  color: white;
  background-color: rgb(186, 186, 186);
}

.badge {
  width: 14vw;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 3px 0px;
  margin: 0 auto;
}

.home-header {
  width: 100%;
}

.home-item-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home-item {
  width: 100%;
  margin-bottom: 20px;
}

.items-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item-index-image {
  width: 100%;
  transform: translateY(-50px);
}

.item-image-name-box {
  width: 100%;
  position: relative;
  transform: translateX(-15px) translateY(-20px);
}

.item-image {
  width: 100vw;
}

.item-name {
  width: 100vw;
  font-size: 4.5vw;
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: #222222;
  padding: 10px;
  transform: translateY(-6px);
}

.item-get-count {
  width: 100%;
  font-size: 5vw;
  font-weight: bold;
  text-align: center;
}

.item-get-day {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 3.5vw;
  font-weight: bold;
}

.item-price {
  width: 100%;
  font-size: 5vw;
  font-weight: bold;
  text-align: center;
}

.youtube-video {
  width: 100%;
}


iframe {
  width: 100%;
}

.items-item {
  width: 100%;
  height: 30vw;
  border:1px solid #222222;
  border-radius: 5px;
  box-shadow: 0px 0px 6px #222222;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}

.item-index-words-box {
  position: absolute;
  top: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-index-words1 {
  color: white;
  font-size: 5.8vw;
  font-weight: bold;
  text-shadow: 1px 1px 5px black;
  position: absolute;
  top: 10px;
  
}
.item-index-words2 {
  color: white;
  font-size: 5.5vw;
  font-weight: bold;
  text-shadow: 1px 1px 5px black;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 20px;

}
.big-number {
  font-size: 12vw;
  margin-right: 5px;
  font-weight: bold;
}

.sites-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 10px;
}

.sites-item {
  width: 28vw;
  position: relative;
}
.site-item-image {
  width: 100%;
}

.edit-sites-item {
  position: relative;
  
}

.site-item-delete {
  width: 30px;
  position: absolute;
  top: 0;
  right: 5px;
}
.costs-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.costs-item {
  width: 48%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px #222222;
}

.costs-item-name {
  background-color: #222222;
  text-align: center;
  padding: 3px 0px;
  color: white;
  font-weight: bold;
  letter-spacing: 4px;
}

.costs-item-img {
  height: 100px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.costs-item-img img {
  margin: 0 auto;
}

.costs-item-price {
  background-color: #222222;
  text-align: center;
  padding: 5px 0px;
  color: white;
  font-weight: bold;
  letter-spacing: 4px;
}

